body {
    background-color: whitesmoke;
    color: black;
    font-family: 'Lato', sans-serif;
}

p {
    color: black;
}

h1 {
    color: black;
}

h2 {
    color: black;
}

ul {
    margin: 0;
    padding: 0;
}

/*top nav bar*/

header {
    text-align: center;
    max-height: 10%;
    height: 10%;
    padding: 20px;
}

.nav-bar { /*ul*/
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-bar-item { /*li*/
    display: inline-block;
    width: 20%;
}

.nav-bar-link {/*a*/
    cursor: pointer;
    display: block;
}

.nav-bar-item:hover {
    background-color: green;
}

.nav-bar-item:active {
    background-color: lightcoral;
}

/*front page*/

#front-page {
    width: 80%;
    height: 80%;
    padding: 20px;
    background-color: lightcoral;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}