body {
    background: linear-gradient(240deg, rgb(0, 0, 0),rgb(105, 105, 105));
    color: white;
    font-family: 'Lato', sans-serif;
}

/*
p {
    color: black;
}

h1 {
    color: black;
}

h2 {
    color: black;
}
*/

ul {
    margin: 0;
    padding: 0;
}

/*top nav bar*/

header {
    text-align: center;
    max-height: 10%;
    height: 10%;
    padding: 20px;
}

.nav-bar { /*ul*/
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-bar-item-horizontal { /*li*/
    display: inline-block;
    width: 20%;
}

.nav-bar-item-vertical { /*li*/
    display: block;
    width: 20%;
}

.nav-bar-link {/*a*/
    cursor: pointer;
    display: block;
}

.nav-bar-item-horizontal:hover {
    background-color: green;
}

.nav-bar-item-vertical:hover {
    background-color: green;
}

.nav-bar-item:active {
    background-color: lightcoral;
}

/*front page*/

#front-page {
    width: 80%;
    height: 80%;
    padding: 20px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

ol {
    margin: auto;
    width: 50%
}

li {
    margin: auto;
    text-align: left;
}

/* blog blocks */

.code-sample {
    border: 2px;
    border-color: rgb(98, 98, 217);
    border-style: groove;
    width: 60%;
    margin: 10px auto;
    text-align: left;
    border-radius: 10px;
    padding: 10px;
}

.blog-area {
    border: 0px;
}

.blog-area:last-child {
    border-bottom: 2px;
    border-color: lightgrey;
    border-style: groove;
}

.blog-section {
    border-top: 2px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: lightgrey;
    border-style: groove;
}

.blog-sample {
    padding-top: 10px;
    padding-bottom: 10px;
}

.blog-text {
    text-align: left;
    display: inline;
}

/* text effects */

.bool {
    color:rgb(0, 162, 255);
    display: inline;
}

.return-value {
    color: rgb(29, 168, 232);
    background-color: rgb(105, 101, 101);
    border-radius: 1px;
    display: inline;
    padding: 2px 4px;
    font-size: 90%;

}

/* Accordion Drop Down List */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  .active, .accordion:hover {
    background-color: #ccc;
  }

  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }